$c-white: #fff;
$c-black: #000;
$c-primary: #0a2fb6;
$c-label: #263a43;
$c-placeholder: #8e8e8e;
$c-border: #b1b1b1;
$c-gray: #c4c4c4;
$c-subtitle: #b9b8b8;
$c-password-strength-strong-primary: #008a27;
$c-password-strength-strong-secondary: #d4ffe4;
$c-password-strength-medium-primary: #ffa500;
$c-password-strength-medium-secondary: #ebdec9;
$c-password-strength-weak-primary: #ff4757;
$c-password-strength-weak-secondary: #eac6c6;