@use '../abstracts/variables' as *;
body {
    font-family: $font-stack-primary;
    line-height: 1.361875;
    color: $c-subtitle;
}
.logo {
    font: 700 1.6875rem/1.1718518519 $font-stack-logo;
    color: $c-white;
}
h1 {
    font: 600 1.75rem/1.3617857143 $font-stack-primary;
    color: $c-black;
}
form {
    font-family: $font-stack-secondary;
    color: $c-black;
}