@use '../abstracts/variables' as *;
.logo {
    font: 700 1.6875rem/1.1718518519 $font-stack-logo;
    color: $c-white;
}
.h1 {
    font: 600 1.75rem/1.3617857143 $font-stack-primary;
    color: $c-black;
}